<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Data Product</title>
    </head>
    <body>
        <div layout:fragment="content">
            <a href="delete.html"></a>
            <h3>Delete Product?</h3>

            <form class="form-horizontal" th:object="${product}" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="*{code}">code</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="*{name}">name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Weight</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="*{weight}">weight</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="*{price}">price</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a th:href="@{/products/list}" class="btn btn-default" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                        <button onclick="return confirm('Are you sure delete file?')" type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>