<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <title th:if="${product.id} == null">Add Product</title>
        <title th:if="${product.id}!= null">Edit Product</title>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>Product</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active" th:if="${product.id} == null">Add Product</li>
                <li class="active" th:if="${product.id} != null">Edit Product</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">&nbsp;</h3>
                        </div>
                        <form role="form" th:object="${product}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control" th:field="*{code}" id="code" name="code" placeholder="Code" />
                                    <label class="control-label" th:errors="*{code}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" placeholder="Name" />
                                    <label class="control-label" th:errors="*{name}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="weight">Weight</label>
                                    <input type="text" class="form-control" th:field="*{weight}" id="weight" name="weight" placeholder="Weight" />
                                    <label class="control-label" th:errors="*{weight}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" class="form-control" th:field="*{price}" id="price" name="price" placeholder="Price" />
                                    <label class="control-label" th:errors="*{price}">
                                        Pesan error nanti di sini
                                    </label>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button th:if="${product.id} == null" onclick="return confirm('Are you sure for save the data?')" type="submit" class="btn btn-primary">Submit </button>
                                <button th:if="${product.id} != null" onclick="return confirm('Are you sure for update the data?')" type="submit" class="btn btn-primary">Update </button>
                                <a href="#" class="btn btn-default" th:href="@{'/products/list'}" title="back">Back </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>