<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Product</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>List of Product</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Product</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/products/form}">Add Product</a>
                            <div class="box-tools">
                                <form th:action="@{/products/list}" method="GET">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="name" class="form-control pull-right" placeholder="Search by Name" th:value="${name}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th align="center">Code</th>
                                        <th align="center">Name</th>
                                        <th align="center">Weight (Kg)</th>
                                        <th align="center">Price (Rp.)</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(products.content)}">
                                        <td colspan="5">Data not found</td>
                                    </tr>
                                    <tr th:each="product : ${products.content}">
                                        <td th:text="${product.code}"></td>
                                        <td th:text="${product.name}"></td>
                                        <td th:align="right" th:text="${product.weight}"></td>
                                        <td th:align="right"><span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'DEFAULT')}"></span></td>
                                        <td>
                                            <a href="#" class="btn btn-info" th:href="@{/products/form(id=${product.id})}" title="edit product"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#" class="btn btn-info" th:href="@{/products/delete(id=${product.id})}" title="delete product"><span class="glyphicon glyphicon-remove-circle remove-data"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${not #lists.isEmpty(products.content)}">
                            <br/>
                            <!-- /.box-body
                            <div class="box-footer clearfix" th:include="paging :: paginationbar"></div>
                            -->
                            <div class="text-center">
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>