<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Add User</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>User</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Add user</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" th:object="${user}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="username" th:field="*{username}" />
                            <label class="control-label" th:errors="*{username}"></label>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control pull-right" id="email" name="email" placeholder="email" th:field="*{email}" />
                            <label class="control-label" th:errors="*{email}"></label>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control pull-right" id="password" name="password" placeholder="password"/>
                            <label class="control-label" th:errors="*{password}"></label>
                        </div>
                        <div class="form-group">
                            <label for="confirmedPassword">Re-type Password</label>
                            <input type="password" class="form-control pull-right" id="confirmedPassword" name="confirmedPassword" placeholder="Confirmed Password"/>
                            <label class="control-label" th:errors="*{confirmedPassword}"></label>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select
                                    class="selectpicker form-control"
                                    data-live-search="true"
                                    data-size="10"
                                    title="Please Select ..."
                                    th:field="*{role}">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}">Choose Role
                                </option>
                            </select>
                            <label class="control-label" th:errors="*{role}"></label>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>