<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>User</title>
        <script language="JavaScript">
            $(document).ready(function () {
                $(".remove-data").each(function () {
                    $(this).click(function () {
                        if (confirm('Data will be deleted?'))
                            return true;
                        return false;
                    });
                });
            });
        </script>
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <h1>List of User</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">User</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a class="box-title btn btn-primary" th:href="@{/users/form}">Add User</a>
                            <div class="box-tools">
                                <form th:action="@{/users/list}" method="GET">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="username" class="form-control pull-right" placeholder="Search by Username" th:value="${username}" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th align="center">Username</th>
                                        <th align="center">Email</th>
                                        <th align="center">Role</th>
                                        <th align="center">Permission</th>
                                        <th align="center">Active</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(users.content)}">
                                        <td colspan="4">Data not found</td>
                                    </tr>
                                    <tr th:each="user : ${users.content}">
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.role.id}"></td>
                                        <td>
                                            <ul>
                                                <li th:each="permission : ${user.role.permissionSet}" th:text="${permission.value}"></li>
                                            </ul>
                                        </td>
                                        <td th:if="${user.active}"><span class="fa fa-check-square"></span></td>
                                        <td th:if="${!user.active}"><span class="fa fa-window-close"></span></td>
                                        <td>
                                            <a href="#" class="btn btn-info" th:href="@{/users/form(id=${user.id})}" title="view user"><span class="glyphicon glyphicon-edit"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${not #lists.isEmpty(users.content)}">
                            <br/>
                            <!-- /.box-body
                            <div class="box-footer clearfix" th:include="paging :: paginationbar"></div>
                            -->
                            <div class="text-center">
                                <nav>
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>