<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Forgot Password</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="#" th:href="@{/css/AdminLTE.min.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/css/skins/_all-skins.min.css}"/>
        <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo"></div>

            <div th:if="${not #maps.isEmpty(message)}" class="alert alert-danger">    
                <ul th:each="instance : ${message}">
                    <li th:text="${instance.value}"></li>
                </ul>
            </div>

            <div class="login-box-body">
                <p class="login-box-msg">Forgot Your Password</p>

                <form class="form password forget" th:action="@{/forgot_password}" method="post" id="form-validate" novalidate="novalidate">
                    <fieldset class="form-group" data-hasrequired="* Required Fields">
                        <div class="field note">Please insert your email for receive reset password link.</div>
                        <div class="field email required">
                            <label for="email_address" class="label"><span>Email</span></label>
                            <div class="control">
                                <input type="email" autocomplete="off" placeholder="Email . . . " name="email" alt="email" id="email_address" class="form-control" value="" data-validate="{required:true, 'validate-email':true}" aria-required="true"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><span>Reset Password</span></button>
                        <a class="btn btn-danger" th:href="@{/login}"><span>Back</span></a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
